* {
	margin:0;
	box-sizing: border-box;

}
 td img {
 	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
table {
	margin: 0 auto ;
}
td {
	margin:auto;
	width:150px;
	height: 150px;
}


td {
	border-radius: 10px;
	border: 2px solid red;

}
p {
	font-size: 20px;
	margin:0 auto;
	display: block;

}

.clicked {
 	background-color: lightblue;
 	/*font-size: 20px;*/
}